*{
    margin: 0;
    padding: 0;
    block-size: border-box;
}

body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 50%;
    height: 70vh;
    border-radius: 15px;
    background: #a1dafff6;
    margin-top: 15vh;
}

h1{
    width: 100%;
    height: 15vh;
    float: left;
    font-family: Arial, "Helvetica Neue" Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 5vh;

}

p{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 8vh;
    text-align: center;
    font-family: Arial, "Helvetica Nueu",Helvetica, sans-serif;
    font-size: 1.2rem;
    color: rgb(255, 0, 0);
    font-weight: bold;
}
button{
    width: 30%;
    height: 5vh;
    float: left;
    margin-left: 35%;
    margin-top: 2vh;
    font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: rgba(0, 94, 172, 0.651);
    font-size: 1.1rem;

}